<div >
    <form [formGroup]="myForm"
          (ngSubmit)="myForm.valid && onSubmit(myForm.value)"
          class="clearfix">
      <div class="form-inline well">
        <div [ngClass]="{'has-error':!nombre.valid && nombre.touched }"
             class="form-group ">
          <label for="nombreInput">
            Nombre
          </label>
          <input type="text"
                 class="form-control"
                 id="nombreInput"
                 placeholder="Nombre"
                 [formControl]="nombre">
        </div>

        <div [ngClass]="{'has-error':!valor.valid && valor.touched}"
         class="form-group ">
          <label for="valorInput">
            Valor
          </label>
          <input type="text"
                 class="form-control"
                 id="valorInput"
                 placeholder="Valor"
                 [formControl]="valor">

        <div class="form-group">
          <button [ngClass]="{'disabled':!myForm.valid}"
                   type="submit"
                   class="btn btn-default">
                   Añadir
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="(valor.touched && !valor.valid)|| (nombre.touched && !nombre.valid)" class="alert alert-danger alert-dismissible" role="alert" >
      <div class="row">
        <div class="col-xs-10">
          <div class="row">
            <div class=" col-xs-12"
            *ngIf="nombre.hasError('required') && nombre.touched">
            <div class="error message">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              El campo nombre es requerido
            </div>
          </div>
          <div class=" col-xs-12"
          *ngIf="valor.hasError('required') &&  valor.touched">
          <div class="error message">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            El campo valor es requerido
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>


    </div>

    </form>

  </div>
